.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 80px; /* Width of sidebar */
}

.layout-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}


